body {
    background-color: #212121;
}
.navbargrijs {
    background-color: #343434;
    color: white;
}
.navbar{
    height: 100px !important;
    margin-bottom: 200px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

#lampen {
     background-image: url( /assets/lamp.webp );
     height: 201px;
     width: 300px;
     color:white;
     font-weight: bold;
     font-size: 40px;
     text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
     border-radius: 16px;
}
#thermostaat {
    background-image: url( /assets/thermostaat.jpg );
    height: 201px;
    width: 300px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    border-radius: 16px;
}
#weer {
    background-image: url( /assets/weer.webp );
    height: 201px;
    width: 300px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    border-radius: 16px;
}
#verbruik {
    background-image: url( /assets/verbruik.webp );
    height: 201px;
    width: 300px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    border-radius: 16px;
}
#camera {
    background-image: url( /assets/camera.jpg );
    height: 201px;
    width: 300px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    border-radius: 16px;
}
#alarm {
    background-image: url( /assets/alarm.webp);
    height: 201px;
    width: 300px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
    border-radius: 16px;
}
























  .rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #866ee7;
    background-color: #343434;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #343434,
      0px 4px 16px #343434;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  .sp {
    background: linear-gradient(
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }